* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif !important;
}

.hover-effect {
  color: #2954f5;
}

.projects-h1 {
  transition: font-size 0.3s ease !important;
}

.about-h1-1, .about-h1-2, .about-h1-3   {
  transition: font-size 0.3s ease !important;
}

.carousel-item > img {
  background-size: cover !important;
  background-position: center !important;
}

body {
  background-color: black !important;
}

.navbar {
  background-color: black !important;
}

.sect-1 {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  flex-direction: column !important;
  color: white !important;
}

.sect-1 > h1 {
  font-weight: 600;
  font-size: 3rem;
}

.sect-1 > p {
  text-transform: uppercase;
  text-align: center;
  font-size: 1.5rem;
}

.card-body {
  color: white !important;
  --bs-card-bg: black !important;
}

#media-drops {
  display: none;
}

.vect-1 {
  border: 2px solid #ffffff;
  width: 15.5rem;
  margin-bottom: 1rem;
}

#nav-2 {
  display: none;
}

.sect-2 {
  display: none;
}

.name {
  display: none;
}

@media (min-width: 426px) {
  .name-1,
  .name-2,
  .name-3,
  .desc-1,
  .desc-2,
  .desc-3 {
    display: none;
  }

  #media-drops {
    display: block;
  }

  #media-drops > h1,
  #media-drops > p {
    text-align: center;
  }

  #media-drops > h1 {
    font-weight: 600;
    font-size: 3rem;
  }

  #media-drops > p {
    font-weight: 500;
    font-size: 1.5rem;
  }

  .sect-3 {
    color: white !important;
  }
}

@media (min-width: 769px) {
  .sect-1 {
    display: none !important;
  }

  .sect-2 {
    display: block;
    color: white !important;
  }

  .syllable {
    color: #363636;
    font-size: 40rem;
  }

  .first {
    margin-top: -14rem;
  }

  .second {
    font-weight: 600;
    font-size: 3rem;
  }

  .third {
    font-weight: 600;
    font-size: 2rem;
  }

  .fourth {
    font-weight: 500;
    font-size: 2rem;
    padding: 1rem;
    line-height: 3rem;
  }
}
